# loop for

In [1]:
tp = (1,2,3)
for i in tp:
    print(i)

1
2
3

In [2]:
string = ["data", "science", "academy"]
for i in string:
    print(string)

['data', 'science', 'academy']
['data', 'science', 'academy']
['data', 'science', 'academy']

In [4]:
for contador in range(0,11):
    print(contador)

0
1
2
3
4
5
6
7
8
9
10

In [5]:
lista = [1,2,3,4,5,6,7,8,9,10]

for i in lista:
    if i % 2 == 0:
        print(i)

2
4
6
8
10

### for aninhado

In [22]:
lista1 = [1,2,3,4]
lista2 = [1,3,5,6]

for i in lista1:
    for j in lista2:
        print("\n", i * j)
    print("----")

 1

 3

 5

 6
----

 2

 6

 10

 12
----

 3

 9

 15

 18
----

 4

 12

 20

 24
----

In [14]:
lista1 = [1,2,3,4]
lista2 = [1,3,5,6]

for i in lista1:
    for j in lista2:
        if i == j:
            print(i)

1
3

In [21]:
lista1 = [47,2,3,]
lista2 = [1,3,5,6,47]

for i in lista1:
    for j in lista2:
        if i == 47 and j == 47:
            print("sim")

sim

In [25]:
lista1 = [47,2,3,]
lista2 = [1,3,5,6,47]
soma = 0

for num in [lista1, lista2]:
    for num in lista2:
        if num % 2 == 0 and num % 2 == 0:
            soma += num
print(soma)

12

In [28]:
lista1 = [47,2,3,]
lista2 = [1,3,5,6,47]
cont = 0

for i in lista1 + lista2:
        if i == 47:
            cont += 1;
print(cont)

2

# loop while

In [30]:
valor = 0

while valor <= 10:
    print(valor)
    valor += 1

0
1
2
3
4
5
6
7
8
9
10

In [36]:
valor = 0
while valor <= 10:
    print("O valor de x é: ", + valor)
    valor += 1
print("Concluído")

O valor de x é:  0
O valor de x é:  1
O valor de x é:  2
O valor de x é:  3
O valor de x é:  4
O valor de x é:  5
O valor de x é:  6
O valor de x é:  7
O valor de x é:  8
O valor de x é:  9
O valor de x é:  10
Concluído

In [39]:
valor = 0

while valor < 10:
    if valor == 7:
        print("concluido")
        break
    else:
        pass
    print(valor)
    valor += 1;

0
1
2
3
4
5
6
concluido

In [41]:
for letra in "python é zzz incrivel":
    if letra == "z":
        continue
    print(letra)

p
y
t
h
o
n

é


i
n
c
r
i
v
e
l